.navbar {
    background-color: #301c10; /* Cor de fundo personalizada */
    font-family: 'Merriweather', serif;
}

.navbar-brand {
    font-size: 2rem;
    color: #8b5e3c !important; /* Cor personalizada para o título */
}

.navbar-nav .nav-link {
    color: #8b5e3c !important; /* Cor chocolate para os links do menu */
    font-weight: bold;
    padding: 10px;
}

.navbar-nav .nav-link:hover {
    color: #fff !important; /* Cor branca no hover */
    border-radius: 5px;
}

.navbar-nav .nav-link:active{
    color: #d2691e;
}

.navbar-toggler {
    border: none; /* Remove a borda do botão */
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="%233e2723" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M4 8h24M4 16h24M4 24h24"/%3E%3C/svg%3E');
}