
.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 10px;
    z-index: 1; 
}

.carousel-caption h3 {
    font-size: 1.5rem;
    font-family: 'Georgia', serif;
}

.carousel-caption p {
    font-size: 1rem;
    font-family: 'Georgia', serif;
}


@media (max-width: 768px) {
    .carousel-item img {
        height: auto; 
        max-height: 300px; 
    }

    .carousel-caption h3 {
        font-size: 1.2rem;
    }

    .carousel-caption p {
        font-size: 0.9rem;
    }
}